{% extends 'base.html'%}

{% load static %}

{% block content %}

<section class="w-full mt-10 flex flex-col items-center gap-4">


{% if not upload %}
    <h1>{{ msg }}</h1>
    <form class="flex flex-col items-center" method="post" action=".">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="mt-10 btn btn-soft">Envoyer</button>
    </form>
{% elif video_has_transcript %}
    <div class="w-full flex">
        <a href="{{video_url}}">
            <img src="{{thumbnail_url}}"/>
        </a>
        <p class="px-4">{{ short_description }}</p>
    </div>
    <p class="w-full p-4">Voici un résumé de la video <span class="font-bold">"{{ video_title }}"</span></p>
    <p class="w-full p-4 border"> 
        <span>{{ summary }}</span>
    </p>
    <button id="open_chat" class="btn btn-soft">Commencer la discussion ...</button>
{% else %}
    <p class="w-full p-4"> Malheuresement, cette video n'a pas de script, je ne peux donc pas en faire le résumé.</p>
    <button id="open_chat" class="btn btn-soft">Commencer la discussion ...</button>
{% endif %}




<div id="chat_page" class="hidden w-full px-20 flex justify-start items-start flex-col">
    <h3 class="mb-8">Posez toutes les questions que vous voulez ...</h3>
    <div id="chat" class="w-full flex justify-start items-start flex-col gap-2">
    </div>
    <div id="prompt" class="w-full mt-2 gap-4 flex justify-start items-start flex-col md:flex-row">
    <form method="post">
        {% csrf_token %}
        <textarea id="input" class="w-full px-4 py-1 h-6 md:w-3/4" placeholder="Ecrivez ici..." name="prompt"></textarea>
        <button id="send_prompt" class="btn btn-soft" >Envoyer</button>
    </form>
    </div>
    <button id="close_chat" class="mt-10 btn btn-soft">Quitter</button>
</div>
<script type=text/javascript>
    const endpoint = "{{originURL}}{% url 'chat:update' %}"
</script>
<script src="{% static 'chat/js/talk.js' %}"></script>


</section>

{% endblock %}