{% extends 'base.html'%}

{% load static l10n %}

{% block content %}

<section class="w-full mt-10 flex flex-col items-center gap-10">

<h1>{{ msg }}</h1>

{% localize off %}
<form class="" method="post" action="{% url 'tuning:model_tuning' %}">
    {% csrf_token %}
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend">Model details</legend>

        <label class="label">Model</label>
        <input type="text" class="input" placeholder="choose your model" list="model_list" value="{{model}}" name="LLM"/>
        <datalist id="model_list">
            {% for m in model_list %}
                <option value="{{m}}"></option>
            {% endfor %}
        </datalist>
   
        <label class="label">Temperature</label>
        <div class="flex gap-4">
        <input type="range" step="0.1" min="0.0" max="2.0" class="range range-xs" oninput="this.nextElementSibling.value = this.value" value={{temperature}} name="temperature" />
        <output class="font-bold">{{temperature}}</ouput>
        </div>

        <label class="label">Verbosity</label>
        <select class="select" name="verbosity">
        {% for v in verbosity_list %}
            {% if v == verbosity %}
                <option selected value="{{v}}" >{{v}}</option>
            {% else %}
                <option value="{{v}}">{{v}}</option>
            {% endif %}
        {% endfor %}
        </select>

    </fieldset>


    <fieldset class="fieldset mt-8 bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend">Prompts</legend>
        {% for target in target_list %}
            <label class="label">Prompt {{ target }}</label>
            <select class="select" name="prompt-{{target}}">
                {% for p in all_prompts %}
                    {% if p.target == target and p.active %}
                        <option selected value="{{p.id}}">{{p.name}}</option>
                    {% elif p.target == target %}
                        <option value="{{p.id}}">{{p.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% endfor%}
        <a href={% url 'tuning:prompt_tuning' %} class="mt-2 w-full btn btn-sm btn-info">modifier les prompts</a> 


        </fieldset>
    
    <div class="mt-12 flex justify-between gap-4">
        <a href={% url 'home:index' %} class="w-32 btn btn-soft">Annuler</a> 
        <button type="submit" class="w-32 btn btn-success" >Valider</button>
    </div>    
</form>
{% endlocalize %}
</section>

{% endblock %}

