{% extends 'base.html'%}

{% load static %}

{% block content %}

<h1 class="my-10">{{ msg }}</h1>
<section>
<form class="w-full" method="post" action="{% url 'tuning:prompt_tuning' %}">
    {% csrf_token %}
    <div class="w-full flex flex-col items-start gap-10 md:flex-row">
    {% comment %} prompts list {% endcomment %}
        <div id="prompt_list"class="basis-1/3">
            
            {% for target in target_list %}
            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
                <legend class="fieldset-legend">{{target}}</legend>
                
                {% for prompt in all_prompts %}
                    {% if prompt.target == target and prompt.active %}
                    {% comment %} active prompts {% endcomment %}
                    <div class="active-prompt flex flex-row" data-id="{{prompt.id}}" data-target="{{prompt.target}}" data-name="{{prompt.name}}" data-prompt-text="{{prompt.prompt_text}}" data-active="{{prompt.active}}">
                        <p class="w-60 input input-success font-bold bg-teal-100">{{prompt.name}}</p>
                        <img class="w-6 update-prompt cursor-pointer" src="{% static 'tuning/img/crayon.svg' %}"/>
                        <img class="w-6 disabled-delete-prompt" src="{% static 'tuning/img/cross_round_inactive.svg' %}"/>
                        <img class="w-6 delete-prompt hidden" src="{% static 'tuning/img/blank.svg' %}"/>
                        <img class="w-6 confirmed-delete-prompt hidden" src="{% static 'tuning/img/blank.svg' %}"/> 
                        <input class="hidden" type="checkbox" name="" disabled/>
                    </div>
                    {% elif prompt.target == target %}
                    {% comment %} inactive prompts {% endcomment %}
                    <div class="inactive-prompt flex flex-row" data-id="{{prompt.id}}" data-target="{{prompt.target}}" data-name="{{prompt.name}}" data-prompt-text="{{prompt.prompt_text}}" data-active="{{prompt.active}}">
                        <p class="w-60 input">{{prompt.name}}</p>
                        <img class="w-6 update-prompt cursor-pointer" src="{% static 'tuning/img/crayon.svg' %}"/>
                        <img class="w-6 disabled-delete-prompt hidden" src="{% static 'tuning/img/cross_round_inactive.svg' %}"/>
                        <img class="w-6 delete-prompt cursor-pointer" src="{% static 'tuning/img/cross_round_black.svg' %}"/>
                        <img class="w-6 confirmed-delete-prompt hidden cursor-pointer" src="{% static 'tuning/img/cross_round_red.svg' %}"/>
                        <input class="hidden" type="checkbox" name="delete-prompt-{{prompt.id}}"/>
                    </div>
                    {% endif %}
                
                {% endfor %}
            </fieldset>
            {% endfor%}
            {% comment %} New prompt {% endcomment %}
            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
                <legend class="fieldset-legend">New Prompt</legend>
                <div class="flex flex-row justify-start" data-id="-1" data-target="default" data-name="" data-prompt-text="" data-active="">
                    <p class="max-w-60 input italic bg-slate-100">Cliquez sur le +</p>
                    <img class="create-prompt w-6  cursor-pointer" src="{% static 'tuning/img/plus_rond.svg' %}"/>
                    <img class="w-6 disabled-delete-prompt" src="{% static 'tuning/img/cross_round_inactive.svg' %}"/>
                    <img class="w-6 delete-prompt hidden" src="{% static 'tuning/img/cross_round_inactive.svg' %}"/>
                    <img class="w-6 confirmed-delete-prompt hidden" src="{% static 'tuning/img/cross_round_inactive.svg' %}"/>
                    <input class="hidden" type="checkbox" name=""/>
                </div>
            </fieldset>
    </div>


    <div class="basis-2/3 w-full">

        {% comment %} placeholder for prompt form {% endcomment %}
        <div id="presentation" class="w-full  px-6 pt-6 pb-96 italic bg-slate-200 text-slate-600">
            <p><span class="inline-flex items-start justify-start ">Editer le prompt en cliquant sur 
                <img class="w-6 mx-2" src="{% static 'tuning/img/crayon.svg' %}"/>
            </span></p>
            <p><span class="inline-flex items-start justify-start">
                 Créer un prompt en cliquant sur <img class="w-6 mx-2" src="{% static 'tuning/img/plus_rond.svg' %}"/> 
                </span></p>
            <p><span class="inline-flex items-start justify-start">
                Supprimer un prompt en cliquant sur <img class="w-6 mx-2" src="{% static 'tuning/img/cross_round_black.svg' %}"/> 
            </span></p>
        </div>

        {% comment %} prompt form {% endcomment %}
        <fieldset id="prompt-edition" class="hidden fieldset bg-base-200 border-base-300 rounded-box w-xs  p-4">
            <legend class="fieldset-legend">Prompt details</legend>
    
            <input type="number" class="hidden input prompt-id" value="" name="id"/>
            <label class="label">Name</label>
            <input type="text" class="input prompt-name" placeholder="Enter a prompt title"  value="" name="name"/>
                   
            
            <label class="label">Target</label>
            <select class="select select-sm prompt-target" name="target" >
                <option selected class="text-gray-400" value="">Select target</option>
                {% for t in target_list %}
                <option value="{{t}}" >{{t}}</option>
                {% endfor %}
            </select>

            <label class="label">Prompt text</label>
            <textarea class="textarea prompt-text" rows="8" cols="30" placeholder="Enter a prompt text" name="prompt_text"></textarea>

            <label class="label">Active
            <input type="checkbox" class="checkbox checkbox-success prompt-active" name="active"/>
            </label>
    
        </fieldset>



    </div>
</div>

    <div class="mt-12 flex justify-center gap-4">
        <a href={% url 'tuning:model_tuning' %} class="w-32 btn btn-soft">Retour</a> 
        <button type="submit" class="disabled-btn w-32 btn" disabled >Valider</button>
        <button type="submit" class="hidden validation-btn w-32 btn btn-success" >Valider</button>
    </div>    

</form>
</section>
<script type="module" src ="{% static 'tuning/js/prompt.js' %}"></script>
{% endblock %}
